<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            /* div {
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 30px;
                font-weight: 600;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            } */
    </style>
</head>
<body>
    <div style="
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 30px;
            font-weight: 600;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        ">
        <p>
            Download completed successfully!
        </p>
    </div>
</body>
</html>